doctype html
html
  head
    meta(charset='utf-8')
    title #{title}
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    .footer-blank-div
      p &nbsp;
    .footer-div
      p Copyright &copy; 2014 Viraj Chitnis. All Rights Reserved.
    script(src='/javascripts/jquery-2.1.1.min.js')
    script(src='/bootstrap/js/bootstrap.js')