body {
	overflow: hidden;
}
.default-margins {
	margin: 10px;
}
.default-left-margin {
	margin-left: 5px;
}
.footer-div {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	z-index: 10;
	text-align: center;
	font-size: 8pt;
}
#toolbar {
	margin: 10px;
	text-align: center;
}
#table-wrapper {
	position: absolute;
	left: 10px;
	top: 112px;
	background-color: #ccc;
	height: calc(100% - 145px);
	width: calc(100% - 20px);
	overflow: auto;
}