* {
	margin: 0;
}
html, body {
	height: 100%;
	margin: 0;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -2em;
}
#body_div {
	margin-left: 10px;
	margin-right: 10px;
}
#heading {
	text-align: center;
}
#controls_table {
	width: 100%;
}
#controls_table_left {
	text-align: left;
}
#controls_table_right {
	text-align: right;
}
#db_div {
	overflow: auto;
	white-space: nowrap;
}
table.db_table {
	width: 100%;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
table.db_table th {
	background: #eee;
	padding: 5px;
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
}
table.db_table td {
	padding: 5px;
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	font-size: 10pt;
}
.footer, .push {
	height: 2em;
}
.footer_text {
	text-align: center;
	font-size: 8pt;
}